@charset "UTF-8";
/* deatail.css */

#detail_wrap{
	width:1000px;
	margin:0 auto;
}
.detail_text{
	display:flex;
	align-items:center;
	gap:20px;
	font-size:20px;
	margin-bottom:20px;
}
.hit_box{display:flex;gap:10px;}
.date_box{display:flex; gap:10px; color:#aaa;}
.title_head{color:#777; font-weight:800;}
.content{
	width:100%;
	padding:30px;
	border-top:2px solid #ccc;
	border-bottom:1px solid #ccc
}
.update_del{text-align:right;}
.update_del button{
	border-radius:10px;
	padding:7px 15px;
	font-size:13px;
	border:0;
	cursor:pointer;
	color:white;
}
.update_del button:nth-child(1){background:#3498db;}
.update_del button:nth-child(2){background:#e74c3c;}
/* 댓글 css */

.input_box{
	width:1000px;
	display:flex;
	flex-wrap:wrap;
	justify-content:end;
}
.input_box textarea{
	padding:5px;
	resize:none;
	font-size:25px;
}
#comment{
	width:100%;
	height:150px;
	margin:5px auto;
}
.reply_bt, .del_bt{
	border:none;
	background-color:white;
	font-size:15px;
	cursor:pointer;
	margin:5px;
	width:50px;
	text-align:center;
}
.reply_list_box li{
	width:1000px;
	display:flex;
	flex-wrap:wrap;
	justify-content:end;
}
.reply_info, .reply_comment{
	width:100%;
	
	border-collapse: collapse;
	margin:5px auto;
}
.reply_info{
	height:30px;
}
.reply_comment{
	height:70px;
	border: 1px solid gray;
}
.reply_comment{
	padding:10px;
	font-size:20px;
}
